<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/}">
        Back to blog list
    </a>
</p>
<div th:text="${message}"></div>
<div id="form">
    <form th:action="@{/save}" th:object="${blog}"
          method="POST">
        <div>
            <label>Tittle</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <div>
            <label>Category:</label>
            <select th:field="*{category}">
                <option th:each="p : ${categories}" th:value="${p.id}" th:text="${p.name}"></option>
            </select>
        </div>


        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>