<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<a th:href="@{/create}">
    Add Blog
</a>
<div th:text="${message}"></div>
<h1>Blogs</h1>
<table border="1">
    <tr>
        <th>Tittle</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${listblogs}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.content}"></td>
            <td><a th:href="@{/edit/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>